#hero{
    border-radius:10px;
    box-shadow: 3px 1px 2px #0000000e;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px auto;
    transition: 1s ease-in-out;
    padding: 5px;
    background: linear-gradient(45deg,#342E37,#342E37,#342E37,#342E37,#777479c0);
    position: relative;
    top: 40px;
}
#intro > p{
    font-size: 36px;
    font-weight: 300;
    width: 85%;
    color: white;
}
#intro{
    opacity: 0;
    padding-left: 90px;
    position: relative;
    animation: texte 0.5s linear 1s forwards;
    transition: ease-in-out;
}
#intro .btn {
      display: inline-block;
      padding: 12px 24px;
      background-color: #3C91E6;
      color: #fff;
      font-family: 'lato';
      font-weight: 600;
      text-decoration: none;
      border-radius: 8px;
      transition: 0.3s;
      margin: 25px 80px;
    }

    #intro .btn:hover {
      background-color: #138A36;
    }

#intro i{
    font-weight: 200;
}
#intro > button{
    margin: 18px 105px;
}
#intro > p > span{
    color: #3C91E6;
    font-weight: 400;
}
#hero img{
    width: 800px;
    height: 350px;
    padding: 25px;
    animation: image 1.5s linear 2s infinite;
    transition: ease-in-out 1s;
    position: relative;
    bottom: 0;
}